* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Arial', 'Times New Roman';
}
header {
	display: block;
	background: #D54114;
	position: fixed;
	width: 100%;
	right: 0;
	top: 0;
	margin-bottom: 60px;
	z-index: 100;
}