div.nav_section ul {
	list-style-type: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Arial, times 'Times New Roman', Times, serif;
}
.clear {
	clear: both;
	line-height: 0;
}
header {
	display: block;
	background: hsl(221, 83%, 46%);
	position: fixed;
	width: 100%;
	right: 0;
	top: 0;
	margin-bottom: 60px;
	z-index: 1;
}